{% extends "base.html" %}

{% block content %}
<h3>Last polled at: {{ polltime }}</h3>
<h3>Broken Dock Stations</h3>
	<table>
	<th>Name</th>
	<th>Total Docks</th>
	<th>Inactive</th>
	{% for jurisdiction, stations in stations.broken %}
	<tbody class="{{ jurisdiction }}">
	<tr><td>{{ jurisdiction }}</td></tr>
		{% for station in stations %}
		<tr><td>
			<a href="{% url 'station_detail' station.id %}">
				{{ station.name|capfirst }}
			</a></td>
			<td>{{ station.max_total }}</td>
			<td>{{ station.difference }}</td>
		</tr>
		{% endfor %}
	</tbody>
	{% endfor %}
	</table>
<h3>No Bike Available Stations</h3>
	<ul>
	{% for station in stations.nobikes %}
	<li>
		<a href="{% url 'station_detail' station.id %}">
			{{ station.name|capfirst }}
		</a>
	</li>
	{% endfor %}
	</ul>
<h3>No Dock Available Stations</h3>
	<ul>
	{% for station in stations.nodocks %}
	<li>
		<a href="{% url 'station_detail' station.id %}">
			{{ station.name|capfirst }}
		</a>
	</li>
	{% endfor %}
	</ul>
<div>
<form action={% url 'poll' %}" method="post">
{% csrf_token %}
{{ question }}<br>
<input type="text" name="word" />
<input type="submit" value="poll" />
</div>
{% endblock %} 